@font-face {
  font-family: 'CustomRegular';
  src: url('../Fonts/PatuaOne.ttf');
}

::-webkit-scrollbar {
  width: 0.3rem;
}
/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

.profile{
  margin-bottom: 1rem;
  display: flex;
  border-radius: 8px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  align-items: center;
  transition: all 200ms;
  align-items: normal;
}


.login-body {
  font-family: 'CustomRegular', sans-serif;
  margin: auto;
  text-align: center;
  -webkit-app-region: drag;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

#login-buttons{
  grid-template-columns: 45% 65%;
  display: grid;
  grid-gap: 1rem;
  text-align: center;
  justify-content: center;
}

.lobby-body{
  font-family: 'CustomRegular', sans-serif;
  margin: auto;
  margin-top: 0.5rem;
  text-align: center;
  display: grid;
  grid-template-columns: 29.5% 68.5%;
  grid-template-rows: 87%;
  column-gap: 1rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

.setting-body{
  font-family: 'CustomRegular', sans-serif;
  margin: auto;
  margin-top: 0.5rem;
  text-align: center;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 87%;
  column-gap: 1rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

.feed-message{
  text-align: left;
  margin-top: 1rem;
}

.self-message{
  margin-top: 1rem;
  color: #e3e3e3;
  margin-right: 2rem;
  align-self: end;
}

.friend-message{
  margin-top: 1rem;
  color: #e3e3e3;
  max-width: 90%;
  align-self: start;
}

.feed-message-background{
  border-radius: 8px;
  width: 95%;
}

.self-message-background{
  border-radius: 12px 12px 0 12px;
  background-color: #b66080;
}

.friend-message-background{
  border-radius: 12px 12px 12px 0;
  background-color: #a15088;
}

#friend-button-image{
  width: 1.5rem;
  background-color: transparent;
  height: 1.5rem;
  border: none;
}

#friend-button-image-new{
  width: 1.5rem;
  background-color: transparent;
  height: 1.5rem;
  border: none;
}

#add-friend-button{
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 5rem;
  border-radius: 8px;
}

#friend-button-search:hover{
  background: url("../Images/green-check.png");
  background-size: 1rem;
  background-position: center right 1rem;
  background-repeat: no-repeat;
}

#friend-bar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-image{
  width: 450px;
  margin: 1rem;
  border-radius: 8px;
}

.feed-div{
  margin-bottom: 50px;
  overflow-y: scroll;
  flex: 1;
  overflow: visible;
}

.chat-div{
  margin-top: 5rem;
  overflow-y: scroll;
  flex: 1;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.feed-content{
  width: 90%;
  margin-left: 1rem;
  padding: 0.5rem;
  text-align: left;
  border-radius: 8px;
}

.self-message-content{
  padding: 0.5rem;
  text-align: right;
}


.friend-message-content{
  margin-left: 0.2rem;
  padding: 0.5rem;
  text-align: left;
}

.footer{
  font-family: 'CustomRegular', sans-serif;
  margin-top: 1rem;
  position: absolute;
  bottom: 10px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 15%;
  grid-gap: 1rem;
}

.chat-user{
  font-family: 'CustomRegular', sans-serif;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-right: 4rem;
  display: grid;
  grid-template-columns: 12% 10%;
  grid-template-rows: 15%;
  margin-bottom: -1rem;
}

.chat-bar{
  align-items: center;
  display: grid;
  position: fixed;
  width: 100%;
  column-gap: 1rem;
  grid-template-columns: 5% 60%;
  grid-template-rows: 80%;
}

#input {
  min-height: 1em; /* prevent height collapsing when there is no text */
  max-height: 12rem;
  width: 100%;
  align-content: center;
  outline: none;
  overflow: hidden;
  padding-right: 1.5rem;
  cursor: text;
}



#input-wrapper {
  width: 100%;
  border-radius: 6px;
  padding: 0.5rem;
  max-height: 13rem;
  text-align: start;
  position: absolute;
  bottom: 1rem;
  font-family: CustomRegular, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  outline: none;
  z-index: 1;
  -webkit-app-region: no-drag;
  display: grid;
  grid-template-columns: 87% 7% 10%;
  margin-right: 10px;
  margin-top: 1rem;
  align-items: center;
  border-style: inset;
}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
}

#feed-input{
  font-family: CustomRegular, sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  height: 3rem;
  outline: none;
  z-index: 1;
  -webkit-app-region: no-drag;
  margin-right: 10px;
  position: absolute; /* add this property to enable absolute positioning */
  bottom: 1rem;
  margin-top: 1rem;
  width: 100%;
  background-image: url('../Images/send-message.png');
  background-position: center right 0.5rem;
  background-size: 22px;
  background-repeat: no-repeat;
}

#send-feed-button{
  padding: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.friend-button, .setting-button, .unread-button{
  text-align:left;
  width: 90%;
  background-color: transparent;
}

.user-pfp{
  width:40px;
  height:40px;
  position: absolute;
  left: 5px;
  top: 10px;
  z-index: 2;
  border-radius: 50%;
}

.setting-pfp{
  width:50px;
  height:50px;
  z-index: 2;
  border-radius: 50%;
}
.chat-pfp{
  width:45px;
  height:45px;
  z-index: 2;
  border-radius: 50%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chat-hour{
  text-align: right;
}

.chat-date{
  text-align: center;
  font-size: 16px;
}

.friend-status, .feed-date, .chat-hour {
  font-size: 12px;
}

#chat-status{
  font-size: 12px;
}

.user-item, .search-item{
  position: relative;
  display: inline-block;
  margin-top: 0.3rem;
  width: 100%;
  background-color: transparent;
}

.search-item{
  width: 90%;
}
.results-div{
  column-count: 2;
  margin-left: -1.8rem;
}

.feed-fields{
  position: relative;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.lobby-feed{
  text-align: center;
  overflow-y: auto;
  height: 100%;
  margin-top: 0.5rem;
}

#side-menu{
  text-align: center;
  width: 100%;
}

#side-menu-content{
  overflow-y: auto;
  height: 92%;
}

.logo{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-image{
  object-fit: contain;
  width: 80%;
  height: 80%;
}

.user-form{
  position: relative;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 20rem;
  min-width: 100%;
}

#self-user{
  margin-left: 4.5rem
}

#self-status{
  margin-left: 4.5rem
}

.custom-button {
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-family: 'CustomRegular', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  z-index: 1;
  outline: none;
  -webkit-app-region: no-drag;
}

.custom-button:disabled{
  cursor: default;
}

.profile-setting-div{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 79%;
  border-radius: 1rem;
}

.profile-setting-background{
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
}

.friend-button, .unread-button, #visitedButton, #self-button, .setting-button, .feed-user-button {
  border-radius: 8px;
  width: 90%;
  align-items: center;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-family: 'CustomRegular', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  z-index: 0;
  outline: none;
  background-color: transparent;
  -webkit-app-region: no-drag;
}

.feed-user-button{
  width: 35%;
}

.friend-button, .unread-button, #visitedButton{
  min-height: 3.7rem;
}

#profile-setting{
  width: 38%;
  display: grid;
  align-items: center;
  column-count: 2;
  justify-content: center;
  grid-template-columns: 10% 90%;
  cursor: default;
}
.unread-button{
  background-image: url("../Images/badge.png");
  background-size: 0.7rem;
  background-position: center right 1rem;
  background-repeat: no-repeat;
}

.login-button{
  font-size: 16px;
}

.login-button:hover, .custom-button:hover {
  background-color: #c65584;
  color: white;
}

#error-label{
  visibility: hidden;
  color:  #c65584;
}

.theme-toggle{
  background-color: rgba(73,73,73,0);
  font-family: 'CustomRegular', sans-serif;
  top: 2.5%;
  left: 95%;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  z-index: 1;
  padding: 0px;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

#login-theme-toggle{
  background-color: rgba(73,73,73,0);
  top: 2.5%;
  left: 95%;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  z-index: 1;
  padding: 0px;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-app-region: no-drag;
  position: absolute;
}

.custom-input {
  font-family: CustomRegular, sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  height: 3rem;
  outline: none;
  position: relative;
  z-index: 1;
  -webkit-app-region: no-drag;
}


.custom-input:focus, #feed-input:focus {
  border-color: #c65584;
}

.setting-name{
  text-align: left;
}

.setting-separator{
  height:3px;
  border-width:0;
  border-radius: 8px;
  margin-right: 26rem;
  margin-top: -0.8rem;
}

#emoji-button{
  max-height: 30px;
  height: 2rem;
  width: 2rem;
  background-image: url(../Images/emoji-icon-color.png);
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
  background-color: transparent;
}

#send-button{
  max-height: 30px;
  height: 2rem;
  width: 2rem;
  background-image: url(../Images/send-message.png);
  background-position: center;
  background-size: 22px;
  background-repeat: no-repeat;
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  body, .chat-bar, .setting-body {background: #333; color: white; }
  .custom-button , .setting-separator{background-color: #494949; color: white;}
  .custom-button:disabled{background-color: #3d3d3d
  }
  .profile-setting-background{background: #3a3a3a}
  .custom-input, #feed-input, #input-wrapper {background-color: #494949; color: #dedede; border: 2px solid #494949;}
  .theme-toggle, #login-theme-toggle{ background-image: url(../Images/Sun.png); background-size: contain; width: 20px;
    height: 20px; background-repeat: no-repeat;}
  #friend-button-image{content: url("../Images/add-friend-button-dark.png")}
  #friend-button-image-new{content: url("../Images/add-friend-button-dark-badged.png")}
  .lobby-body{  background: linear-gradient(to right, #494949 30%, #333 0%);}
  .friend-button:hover, .unread-button:hover, #friend-button-search:hover, .profile:hover, .setting-button:hover, #emoji-button:hover, #send-button:hover, .feed-message-background{background-color: #3A3A3AB2;}
  .friend-button, .unread-button, .setting-button, .feed-user-button, #self-user{color: #f2f3f5;}
  .feed-message{color: #dcdee1}
  ::-webkit-scrollbar-thumb{background-color: rgba(108, 108, 108, 0.7)
  }
  .friend-status, .feed-date, .chat-date, .chat-hour{color: #b6b6b6;}
  #visitedButton{background-color: #3A3A3AB2; color: white;}
}

@media (prefers-color-scheme: light) {
  body, .chat-bar, .setting-body {background: #E9E8E8; color: #363636; }
  .custom-button {background-color: #c2c2c2; color: #363636;}
  .custom-button:disabled{background-color: #d2d2d2;}
  .profile-setting-background{background: #dadada
  }
  .custom-input, #feed-input, #input-wrapper {background-color: #c2c2c2; color: #333333; border: 2px solid #c2c2c2;}
  .theme-toggle, #login-theme-toggle{ background-image: url(../Images/Moon_light.png); background-size: contain; width: 20px;
    height: 20px; background-repeat: no-repeat;}
  #friend-button-image{content: url("../Images/add-friend-button-light.png")}
  #friend-button-image-new{content: url("../Images/add-friend-button-light-badged.png")}
  .lobby-body{background: linear-gradient(to right, #dadada 30%, #E9E8E8 0%)}
  #feed-input, #input-wrapper, #send-feed-button, .feed-message-background{background-color: #dadada; border-color: #dadada;}
  .friend-button:hover, .unread-button:hover,  #friend-button-search:hover, .profile:hover, .setting-button:hover, .setting-separator, #emoji-button:hover, #send-button:hover {background-color: #c4c4c4;}
  .friend-button, .unread-button, .setting-button{color: #363636;}
  .friend-status, .feed-date, .chat-date, .chat-hour, #chat-status{color: #696969;}
  #visitedButton, ::-webkit-scrollbar-thumb{background-color: #adadad; color: #363636;}
}
