@font-face {
  font-family: 'CustomRegular';
  src: url('Fonts/PatuaOne.ttf');
}


*{
  box-sizing: border-box;
}
html, body{
  height: 100%;
}

.login-body {
  font-family: 'CustomRegular', sans-serif;
  margin: auto;
  text-align: center;
  -webkit-app-region: drag;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.logo{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-image{
  object-fit: contain;
  width: 80%;
  height: 80%;
}

.user-form{
  position: relative;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 20rem;
  min-width: 100%;
}

.custom-button {
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-family: 'CustomRegular', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  z-index: 1;
  outline: none;
  -webkit-app-region: no-drag;
}

.login-button{
  margin: 0px 7rem;
  font-size: 16px;
}

.login-button:hover {
  background-color: #c65584;
  color: white;
}

.theme-toggle{
  background-color: rgba(73,73,73,0);
  top: 2.5%;
  left: 95%;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  border: none;
  z-index: 1;
  padding: 0px;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-app-region: no-drag;
}
.custom-input {
  font-family: CustomRegular, sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  height: 3rem;
  outline: none;
  position: relative;
  z-index: 1;
  -webkit-app-region: no-drag;
}

.custom-input:focus {
  border-color: #c65584;
}

@media (prefers-color-scheme: dark) {
  body {background: #333; color: white; }
  .custom-button {background-color: #494949; color: #dedede;}
  .custom-input {background-color: #494949; color: #dedede; border: 2px solid #494949;}
  .theme-toggle{ background-image: url(Images/Sun.png); background-size: contain; width: 20px;
    height: 20px; background-repeat: no-repeat;}
}

@media (prefers-color-scheme: light) {
  body {background: #E9E8E8; color: #363636; }
  .custom-button {background-color: #c2c2c2; color: #333333;}
  .custom-input {background-color: #c2c2c2; color: #333333; border: 2px solid #c2c2c2;}
  .theme-toggle{ background-image: url(Images/Moon_light.png); background-size: contain; width: 20px;
    height: 20px; background-repeat: no-repeat;}
}
